name: flutter_template

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Get Flutter version from FVM
        id: fvm-config
        run: |
          echo "FLUTTER_VERSION=$(python3 -c "import json; print(json.load(open('.fvmrc'))['flutter'])")" >> $GITHUB_OUTPUT
        shell: bash

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: ${{ steps.fvm-config.outputs.FLUTTER_VERSION }}
          cache: true
          cache-key: "flutter-:os:-:channel:-:version:-:arch:-:hash:"
          cache-path: "${{ runner.tool_cache }}/flutter/:channel:-:version:-:arch:"

      - name: Install Very Good CLI
        run: dart pub global activate very_good_cli

      - name: Install Dependencies
        run: flutter pub get

      - name: Verify Formatting
        run: dart format --set-exit-if-changed .

      - name: Analyze Project
        run: dart analyze --fatal-infos

      - name: Run Tests
        run: |
          dart pub global run very_good_cli:very_good test \
          --coverage \
          --test-randomize-ordering-seed=random \
          --exclude-coverage "**/*.g.dart" \
          --exclude-coverage "**/*.freezed.dart" \
          --exclude-coverage "lib/l10n/gen/*"

      - name: Check Test Coverage (95%)
        uses: VeryGoodOpenSource/very_good_coverage@v3
        with:
          path: ./coverage/lcov.info
          min_coverage: 95
      - name: Extract Coverage
        run: |
          PERCENT=$(grep -oP 'SF:.*' -A 100 coverage/lcov.info | grep -m 1 'LF:' -A 1 | grep 'LH:' | awk -F: '{print $2}' | xargs)
          TOTAL=$(grep -oP 'SF:.*' -A 100 coverage/lcov.info | grep -m 1 'LF:' | awk -F: '{print $2}' | xargs)
          ACTUAL_PERCENT=$(echo "scale=2; $PERCENT/$TOTAL*100" | bc)
          echo "COVERAGE_PERCENT=$ACTUAL_PERCENT" >> $GITHUB_ENV

      - name: Update Coverage Badge Gist
        uses: schneegans/dynamic-badges-action@v1.7.0
        with:
          auth: ${{ secrets.GIST_TOKEN }}
          gistID: ac78cd84ca1ae9a4bb0135c89100374a
          filename: coverage.json
          label: Coverage
          message: ${{ env.COVERAGE_PERCENT }}%
          valColorRange: ${{ env.COVERAGE_PERCENT }}
          maxColorRange: 100
          minColorRange: 0
