name: flutter_template

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Get Flutter version from FVM
        id: fvm-config
        run: |
          echo "FLUTTER_VERSION=$(python3 -c "import json; print(json.load(open('.fvmrc'))['flutter'])")" >> $GITHUB_OUTPUT
        shell: bash

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: ${{ steps.fvm-config.outputs.FLUTTER_VERSION }}
          cache: true
          cache-key: "flutter-:os:-:channel:-:version:-:arch:-:hash:"
          cache-path: "${{ runner.tool_cache }}/flutter/:channel:-:version:-:arch:"
          pub-cache-key: "flutter-pub-:os:-:channel:-:version:-:arch:-:hash:"
          pub-cache-path: "${{ runner.tool_cache }}/flutter/:channel:-:version:-:arch:"

      - name: Install Dependencies
        run: flutter pub get

      - name: Verify Formatting
        run: dart format --set-exit-if-changed .

      - name: Analyze Project
        run: dart analyze --fatal-infos

      - name: Run Tests
        run: flutter test --no-pub --test-randomize-ordering-seed=random --coverage

      - name: Check Test Coverage (95%)
        uses: VeryGoodOpenSource/very_good_coverage@v3
        with:
          path: ./coverage/lcov.info
          min_coverage: 95
