name: flutter_template

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Get Flutter version from FVM
        id: fvm-config
        run: |
          echo "FLUTTER_VERSION=$(python3 -c "import json; print(json.load(open('.fvmrc'))['flutter'])")" >> $GITHUB_OUTPUT
        shell: bash

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: ${{ steps.fvm-config.outputs.FLUTTER_VERSION }}
          cache: true

      - name: Install Very Good CLI
        run: dart pub global activate very_good_cli

      - name: Install Dependencies
        run: flutter pub get

      - name: Verify Formatting
        run: dart format --set-exit-if-changed .

      - name: Analyze Project
        run: dart analyze --fatal-infos

      - name: Run Tests
        run: |
          dart pub global run very_good_cli:very_good test \
          --coverage \
          --test-randomize-ordering-seed=random \
          --exclude-coverage "**/*.g.dart" \
          --exclude-coverage "**/*.freezed.dart" \
          --exclude-coverage "lib/l10n/gen/*"

      - name: Check Test Coverage (95%)
        uses: VeryGoodOpenSource/very_good_coverage@v3
        with:
          path: ./coverage/lcov.info
          min_coverage: 95
      - name: Extract Coverage
        id: coverage_data
        run: |
          ACTUAL_PERCENT=$(awk -F: '
            /^LF:/ { total += $2 }
            /^LH:/ { covered += $2 }
            END {
              if (total == 0) {
                print "0"
              } else {
                printf "%.2f", (covered / total * 100)
              }
            }
          ' coverage/lcov.info)
          echo "percent=$ACTUAL_PERCENT" >> $GITHUB_OUTPUT # Use Output instead of Env for better scope
        shell: bash

      - name: Update Coverage Badge Gist
        uses: schneegans/dynamic-badges-action@v1.7.0
        with:
          auth: ${{ secrets.GIST_TOKEN }}
          gistID: ac78cd84ca1ae9a4bb0135c89100374a
          filename: coverage.json
          label: Coverage
          message: ${{ steps.coverage_data.outputs.percent }}%
          valColorRange: ${{ steps.coverage_data.outputs.percent }}
          maxColorRange: 100
          minColorRange: 0
